* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  max-width: 1900px;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.4em;
}

headercontainer {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #f4f4f4;
}
.header {
  height: 7rem;
  background-image: url("../../asset/bg1.jpg");
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 5rem;
  margin: auto 10px;
}

.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
  margin: 1rem;
  padding: 5px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 1px 5px black;
}

.input-box {
  border-radius: 50px;
  border: 10px;
  height: 2.5rem;
  display: flex;
  width: 200%;
  position: relative;
}
/*input[type="text"] {
  padding: 12px 20px;
}*/
.search-icon {
  position: absolute;
  margin-top: -35px;
  margin-left: 380px;
  width: 15px;
}
.search-color {
  fill: #ada4a4;
}

.container {
  width: 95%;
  margin: 0 auto;
}
/* tour of the kitchen  */
.tour h4 {
  margin-left: 5%;
  margin-top: 10px;
  line-height: 3;
}
.showcase {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
}
.elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.elements img {
  width: 70%;
  background-size: cover;
  background-position: center;
}

/* Footer  */

.footer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #000;
  color: #fff;
  height: 30vh;
}
.fone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}
.register {
  background-color: #0f0f0f;
  text-align: center;
  color: #fff;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 32px;
  text-align: center;
  margin-top: 12vh;
}
.social-icon {
  fill: #f4f4f4;
}
/*  kitchen section  */
.kitchen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  height: 40vh;
  position: relative;
  grid-gap: 20px;
}

.title {
  position: absolute;
  top: 15vh;
  left: 15%;
}

.about {
  margin-top: 20px;
}
.about-wrapper {
  margin-bottom: 13px;
}

/* ************************Calander+******************* */

main {
  display: flex;
  justify-content: center;
}
.select-range {
  display: flex;
  justify-content: center;
}
